[submodule "SmartFarming-MachineLearning"]
	path = SmartFarming-MachineLearning
	url = git@github.com:gerhardvz/SmartFarming-MachineLearning.git
	branch = release
[submodule "SmartFarming-API"]
	path = SmartFarming-API
	url = git@github.com:gerhardvz/SmartFarming-API.git
	branch = release
[submodule "SmartFarming-Dashboard"]
	path = SmartFarming-Dashboard
	url = git@github.com:gerhardvz/Smart-Farming-Dashboard.git
	branch = release
